.hidden {
  display: none;
}

@font-face {
  font-family: "NanumSquareRound";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "NanumSquareRound";
  box-sizing: border-box;
  margin: 0;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
}

#bg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(70%);
}

#clock {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 0;
  font-size: 600%;
  color: white;
}

#login-form {
  text-align: center;
  margin-top: 50px;
}
#login-form input:first-child {
  font-size: 20px;
  background: transparent;
  border: transparent;
  border-bottom: 2px solid;
  border-color: white;
  width: 250px;
  text-align: center;
}
#login-form input:last-child {
  font-size: 20px;
  margin-left: 5px;
  border: none;
  background: none;
  color: white;
  font-weight: bold;
}

#greeting {
  font-size: 300%;
  color: white;
  margin: 0 auto;
}

#todo-form {
  text-align: center;
  margin-top: 50px;
}
#todo-form div {
  font-size: 150%;
  color: white;
}
#todo-form input {
  text-align: center;
  background: transparent;
  border: transparent;
  border-bottom: 2px solid;
  border-color: white;
  width: 250px;
}
#weather {
  position: fixed;
  top: 20px;
  right: 36px;
  color: white;
  font-size: 0.9rem;
  font-weight: 700;
}
#todo-list {
  text-align: center;
  margin-top: 20px;
}

#todo-list li {
  text-align: center;
  margin-top: 5px;
  list-style: none;
  color: white;
}
#todo-list button {
  margin-left: 5px;
  border: none;
  background: none;
  color: white;
  font-weight: bold;
}

#quote {
  color: white;
  text-align: center;
  margin-top: 50px;
  position: absolute;
  bottom: 30px;
  left: 5%;
  right: 5%;
}
#quote span:first-child {
  display: flex;
  justify-content: center;
}
#quote span:last-child {
  display: flex;
  justify-content: center;
}
